<.header>
  Topic <%= @topic.id %>
  <:actions>
    <.link href={~p"/topics/#{@topic}/edit"}>
      <.button>Edit topic</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @topic.title %></:item>
</.list>

<.back navigate={~p"/topics"}>Back to topics</.back>
